.footer {
    background-color: #323232;
}

.footer__wrapper {
    display: flex;
    width: 280px;
    margin: 0 auto;
    padding: 40px 0;
}

.footer__paragraph {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
}

.footer__link {
    color: #63c9d5;
    text-decoration: none;
}





@media (min-width: 533px) {
    .footer__wrapper {
        width: 420px;
    }

    .footer__paragraph {
        font-size: 12px;
    }
}

@media (min-width: 720px) {
    .footer__wrapper {
        width: 480px;
    }
}

@media (min-width: 1024px) {
    .footer__wrapper {
        width: 840px;
    }

    .footer__paragraph {
        font-size: 14px;
        margin: 0 auto;
    }

    .footer__link {
        cursor: pointer;
    }
}

@media (min-width: 1350px) {
    .footer__wrapper {
        width: 1024px;
    }
}