.header {
    width: 280px;
    margin: 0 auto;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.search {
    max-height: 36px;
    max-height: 200px;
    border: 1px solid #999;
}

.search__input {
    max-width: 162px;
    padding-left: 13px;
    line-height: 32px;
    font-size: 16px;
    border: none;
    outline: none;
}

.search__button {
    border: none;
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    color: #999;
    justify-content: center;
    align-items: center;
}

.hamburger {
    color: #999;
    font-size: 24px;
}

@media (min-width: 533px) {
    .header {
        width: 420px;
    }
}


@media (min-width: 720px) {
    .header {
        width: 480px;
    }
}


@media (min-width: 1024px) {
    .header {
        width: 840px;
    }

    .search__button {
        cursor: pointer;
    }

    .hamburger {
        cursor: pointer;
        transition: .2s;

    }

    div i:hover {
        color: black;
    }
}

@media (min-width: 1350px) {
    .header {
        width: 1024px;
    }
}