/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Playfair Display', sans-serif;
font-family: 'Montserrat', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}